.header {
  padding-left 20px
  font-size 18px
}
.title {
  font-size 14px
  color #1e90ff
}
.item {
  padding 15px 20px
}
.context {
  padding-top 10px
  color #777
}
.desc {
  padding-top 10px
  color #aaa
}
.icon {
  padding-right 10px
}
